<div class="wr-footer">
<footer id="footer">
<div class="footerbody">
    <div style="width:auto">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"  target="_blank" style="width:87px;height:30px;display:inline-block">
            <img alt="Creative Commons License BY-NC-SA" style="border-width:0;margin-bottom:3px;width:87px;opacity:0.6" src="http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png" />
        </a>
        <p class="small" style="display:inline-block;vertical-align:top;margin-top:7px;font-size:12px" > کدرز
                               ۱۳۹۳ - 
            <script>
                moment.loadPersian();
                var date = moment().format('jYYYY');
                document.write(date);
            </script>
        </p>
    </div>
</div>
<p class="small" style="font-size:12px">
 نوشته‌‌های مربوط به نویسنده‌هایی جدا از این وبگاه، با شرایط نویسنده اصلی قابل استفاده است.
</p>
</footer>
</div>
