<nav class="main-nav">
    <a class="cta" href="{{ site.baseurl }}feed.xml">اشتراک</a>
    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a>درباره ما </a>
        {% endif %}
    {% endif %}

    {% if page.url != "/python/" %}
        {% if site.pythonPage %}
            <a href='{{ site.baseurl }}python'>آموزش پایتون</a>
        {% endif %}
    {% endif %}

    {% if page.url != "/index.html" %}
        <a href='{{ site.baseurl }}{{ page.about }}'> <span class="arrow">←</span> خانه </a>
    {% endif %}
</nav>
