<!DOCTYPE html>
<html lang="fa">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WL8FM8K');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="description" content="آموزش ساده برنامه نویسی پایتون">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="yfC17n3jlk8-sxyolkRGxKLlIurKVXePIdxF_kEatLo" />
  
  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vazir-font@28.0.0/dist/font-face.css">
  <link rel="stylesheet" href="/assets/css/style.css?t=20210416">
  <link rel="alternate" type="application/rss+xml" title="My Blog" href="/rss.xml">
  <link rel="stylesheet" href="/assets/css/highlight.css">
  <script src="/assets/js/jquery-1.11.3.min.js"></script>
  <script src="/assets/js/moment-with-locales.js"></script>
  <script src="/assets/js/moment-jalaali.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4325494309890534"
     crossorigin="anonymous"></script>
     
     <style>
	  {% if page.text_direction == 'ltr' %}
	  body { direction: ltr; }
	  {% endif %}
     </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WL8FM8K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-25G1Z7B4EZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-25G1Z7B4EZ');
</script>

</body>
</html>



